header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #40592E;
    border-bottom: 10px solid #000;
    padding: 10px 20px;
}

nav{
    text-align: right;
}

a{
    display: inline-flex;
    align-items: center;
    color: #FFFFFF;
    font-size: 20px;
    font-family: "Fira Code", Arial, Helvetica, sans-serif;
    font-weight: 500;
    text-decoration: none;
    margin-right:30px;
}
a::before{
    content: "";
    width: 10px;
    height: 10px;
    background-color: #65A603;
    margin-right: 10px;
}    

#button{
    display: inline-block;
    background-color: #65A603;
    line-height: 60px;
    height: 60px;
    padding: 0 20px;
    box-shadow: 5px 5px 0px #000;
    margin-right: 0;
    transition: all ease 0.5s;
}
#button:hover{
    background-color: #80c519;
    transform: scale(1.1);
}
