.button{
    display: inline-block;
    background-color: #65A603;
    line-height: 60px;
    height: 60px;
    padding: 0 20px;
    box-shadow: 5px 5px 0px #000;
    margin-right: 0;
    transition: all ease 0.5s;
    font-size: 20px;
    color: #fff;
    text-decoration: none;
}
.button:hover{
    background-color: #80c519;
    transform: scale(1.1);
}
.button:hover::after{
    width: 0;
}