.main-title{
    font-family: "Nanum Gothic", sans-serif;
    font-weight: 400;
    text-shadow: 4px 4px 0 #000;
    font-size: 64px;
    color: #65A603;
}

.main-title.-second{
    text-align: center;
    color: #FFF;
    text-shadow: none;
}