.section{
    background-color: #65A603;
    padding-top: 50px;
    padding-bottom: 100px;
    border-bottom: 10px solid #40592E;
}

.section .main-title{
    margin-bottom: 60px;
}

.section.-black{
    background-color: #000;
    border-bottom: 10px solid #65A603;
}